@{
    ViewBag.Title = "Videoconferência";
}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
@Styles.Render("~/bundles/new-chat-style")

<div class="container">
    <div class="cssload-container">
        <div class="cssload-double-torus"></div>
        <br/>
        <h5>Esperando @ViewBag.OtherParticipantName entrar na videoconferência...</h5>
    </div>
</div>

@Html.Hidden("chatId", (string)ViewBag.ChatId)

@section Scripts {
    @Scripts.Render("~/bundles/new-chat")
}