@model FinalProject.ViewModels.RateVideoChatViewModel
@{
    ViewBag.Title = "Avaliação";
}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/star-rating.min.css" rel="stylesheet">
<link href="~/Content/theme-krajee-fa.min.css" rel="stylesheet">

<style>
    .star .fa.fa-star { color: #2196f3; }
</style>

<div class="container text-center" style="margin-top: 50px">
    <h4>
        O que você achou da conversa que acabou de ter?
        <br/>
        <small>
            Dê uma nota que expresse o seu sentimento em relação à videoconferência com @Model.User
        </small>
    </h4>

    <br/>
    <br/>

    <div class="row">
        <div>
            <input id="rating" class="kv-ltr-theme-fa-star"
                   data-chat-id="@Model.ChatId" value="0"
                   dir="ltr" data-size="xs"/>

            <br/>

            <button id="rateBtn" class="btn btn-primary">Avaliar</button>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/star-rating.min.js")"></script>
    @Scripts.Render("~/bundles/video-chat-rate")
}