@{
    ViewBag.Title = "Confirmação de e-mail";
}

<div class="container">
    <div class="text-center">
        <h3>E-mail confirmado</h3>
        <hr/>
        <div>
            <p>
                <h5>Agora você já pode usar sua conta, só precisa clicar @Html.ActionLink("aqui", "Login", "Account", null, new {id = "loginLink"}) para entrar.</h5>
            </p>
        </div>
    </div>
</div>