@{
    ViewBag.Title = "Confirmação de e-mail";
}

<div class="container">
    <div class="text-center">
        <h3>E-mail enviado</h3>
        <hr/>
        <div>
            <p>
                <h5>Um e-mail com o link de ativação da sua conta foi enviado para <b>@ViewBag.Email</b>.</h5>
            </p>
        </div>
    </div>
</div>