@model FinalProject.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Redefinição de senha";
}

<div class="container">
    <div class="text-center">
        <h3>E-mail enviado</h3>
        <hr/>
        <div>
            <p>
                <h5>Um e-mail com o link de redefinição de senha foi enviado para <b>@Model.Email</b>.</h5>
            </p>
        </div>
    </div>
</div>