@using FinalProject.LocalResource
@model IList<FinalProject.ViewModels.QuestionAnswerViewModel>

@{
    var answersCount = Model.Count;
    var answersCountText = answersCount == 0 ? Resource.NoAnswersText : (answersCount == 1 ? Resource.SingleAnswerText : string.Format(Resource.MultipleAnswersText, answersCount));
}

<h5 class="answers-counter">@answersCountText</h5>
<br/>

<div class="question-answers">
    @if (answersCount == 1)
    {
        @Html.Partial("_AnswerPartial", Model.First())
    }
    else if (answersCount > 1)
    {
        int i;

        for (i = 0; i < answersCount - 1; i++)
        {
            @Html.Partial("_AnswerPartial", Model[i])
            <hr />
        }

        // The last item will not have an hr below itself
        @Html.Partial("_AnswerPartial", Model[i])
    }
</div>