@model FinalProject.ViewModels.StudentSearchListViewModel

<section>
    @if (Model?.Students != null && Model.Students.Count > 0)
    {
        <h4 class="text-center">
            Resultados da pesquisa (@Model.Students.Count)
        </h4>
        <br/>
        <div class="students-list">
            @foreach (var student in Model.Students)
            {
                @Html.Partial("_SearchItemPartial", student)
            }
        </div>
    }
</section>