@model FinalProject.ViewModels.GradeListItemViewModel

<li class="list-group-item">
    <a class="grade-list-item" href="#" data-type="text" data-pk="@Model.Id" data-order="@Model.Order" data-url="/Admin/UpdateGrade" data-title="Nome do nível">@Model.Name</a>
</li>