.help-tags { margin-top: 20px; }

.tags-input.input-group {
    margin-left: 30%;
    width: 40%;
}

.tag-box {
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    background-color: #2196f3;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    color: white;
    display: inline-block;
    font-size: 12px;
    overflow: hidden;
    padding: 3px 20px 0 10px;
    position: relative;
}

.remove-tag {
    background: none;
    border: none;
    font-size: 14px;
    position: absolute;
    right: -2px;
    top: -5px;
}

.remove-tag:hover { opacity: 0.5; }

.tags-input { width: 80%; }