.search-block {
    -moz-box-shadow: 0 2px 2px #d8d8d8;
    -webkit-box-shadow: 0 2px 2px #d8d8d8;
    background-color: white;
    box-shadow: 0 2px 2px #d8d8d8;
    cursor: pointer;
    cursor: hand;
    display: inline-block;
    height: 330px;
    margin: 10px 0;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 100%;
}

.search-block:hover {
    background-color: #fafafa;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.search-content {
    margin-left: 20px;
    padding-top: 72px;
}

.search-empty {
    margin-top: 30px;
}

.search-user {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -40px;
    margin-left: 1em;
    padding-top: 6px;
    z-index: 100;
}

.search-username {
    color: black;
}

.search-institution {
    font-weight: normal;
}

.search-date {
    font-size: 12px;
    font-weight: normal;
}

.search-answers {
    bottom: 5px;
    font-weight: lighter;
    position: absolute;
}

.search-email {
    margin: -5px 0;
    font-weight: normal;
}

.search-small {
    color: #acacac;
    font-size: 14px;
}

.search-username:focus {
    color: black;
    text-decoration: none;
}

.search-user-img {
    -moz-box-shadow: 0 1px 1px #000000;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 1px 1px #000000;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    background-repeat: no-repeat;
    background-size: 72px;
    border-radius: 50%;
    box-shadow: 0 1px 1px #000000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    float: left;
    height: 72px;
    left: 0;
    margin-left: 18px;
    margin-right: 20px;
    margin-top: 10px;
    overflow: hidden;
    right: 0;
    top: 0;
    width: 72px;
}

.search-content p {
    line-height: 1.6;
}

.cssanimations .search-block.is-hidden {
    visibility: hidden;
}

.cssanimations .search-block.bounce-in {
    -webkit-animation: cd-bounce 0.6s;
    -moz-animation: cd-bounce 0.6s;
    -o-animation: cd-bounce 0.6s;
    animation: cd-bounce 0.6s;
    visibility: visible;
}

@keyframes cd-bounce {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.progress {
    height: 22px;
}

.progress-label {
    margin-top: -3px;
    margin-right: -125px;
    font-weight: bold;
}

.rating-label {
    font-weight: bold;
}

.search-user-similarity {
    width: 50%;
}

.rating-container {
    margin-top: -20px;
}

.rating-container#searchForm {
    margin-left: -15px;
}

.star .fa.fa-star, .star .fa.fa-star-o {
    font-size: 18px;
}

.star .fa.fa-star {
    color: #2196f3;
}

.caption, .clear-rating {
    padding-top: 10px;
}

.search-advance {
    display: none;
}

.search-user-tags-block {
    padding: 5px 0;
}

.search-user-tags-label {
    font-weight: bold;
}

.user-tag {
    font-size: 11px;
}

.rating-input-box {    
    background-color: white;
    border-color: #dddddd;
    border-radius: 0;
}

.btn.dropdown-toggle.bs-placeholder {
    color: black;
}