body {
    background-color: #f8f8f8;
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

html, body, .container, .body-content {
    height: 100%;
}

.container {
    -moz-min-width: 100%;
    -ms-min-width: 100%;
    -o-min-width: 100%;
    -webkit-min-width: 100%;
    min-width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

.input-group.i {
    width: 2em;
}

.btn-login {
    background-color: #0c7cd5 !important;
    border-color: #0c7cd5 !important;
    color: white !important;
}

    .btn-login:hover, .btn-login:focus, .btn-login:active {
        background-color: #0d5a98 !important;
        background-image: none;
        border-color: #0d5a98 !important;
    }

.form-center, .form-center div:first-child, .form-center form {
    height: 100%;
    min-height: 100%;
}

    .form-center form {
        margin-top: 50px;
        text-align: center;
    }

.section-center {
    margin-top: 50px;
    text-align: center;
}

@media (min-width: 768px) {
    .form-center div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

#loginForm form .input-group {
    display: inline-table;
    max-width: 280px;
}

@media (max-width: 768px) {
    #loginButton {
        margin-right: 25px;
    }
}

#loginForm form .btn {
    min-width: 30%;
}

#registerForm form .input-group {
    display: inline-table;
    max-width: 450px !important;
}

#selectInstitutionForm form .input-group {
    display: inline-table;
    max-width: 450px !important;
}

.alert-error-custom {
    display: inline-block;
}

.validation-summary-errors ul {
    list-style: none;
    margin-left: -30px;
}

.navbar .divider-vertical {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
    margin: 7px 9px 0 9px;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}

.no-resizeble {
    resize: none;
}

.jstree-anchor {
    font-size: 1.5em !important;
    height: 30px !important;
}

.jstree-leaf {
    height: 30px !important;
}

    .jstree-leaf a.jstree-hovered {
        color: #303030 !important;
        height: 50px !important;
    }

.jstree-anchor.jstree-hovered, .jstree-anchor.jstree-clicked.jstree-hovered {
    color: #303030 !important;
}

.jstree-wholerow-clicked {
    background: #f8f8f8 no-repeat fixed center !important;
}

.jstree-wholerow-hovered {
    background: #eeeeee no-repeat fixed center !important;
}

.jstree-wholerow-clicked.jstree-wholerow-hovered {
    background: #eeeeee no-repeat fixed center !important;
}

.jstree-anchor.jstree-search {
    color: #0c7cd5 !important;
}

.popup {
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    background-color: #383838;
    border-radius: 2px;
    bottom: 10px;
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    color: #F0F0F0;
    font-size: 14px;
    height: auto;
    left: 50%;
    margin-left: -100px;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 300px;
    z-index: 10000;
    display: none;
}

.no-notification {
    color: black;
}

.has-notification {
    color: red;
}

.label-big {
    font-size: 12px;
}

.question-link {
    color: black !important;
    cursor: hand;
}

    .question-link:hover {
        text-decoration: underline;
    }

.suggestion-item {
    font-size: 16px;
}

.suggestion-item a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.suggestion-item span {
    color: gray;
}

.suggestion-item p {
    padding-right: 5px;
    padding-left: 10px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.suggestion-item p:hover {
    background-color: #e7e7e7;
}

.nav-tabs-heading {
    display: inline-block;
    *display: inline;
    float: none;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    zoom: 1;
}

hr {
    border-color: #e3e3e3;
}

.user-pic {
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    background-repeat: no-repeat;
    background-size: 24px;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    height: 24px;
    left: 0;
    overflow: hidden;
    right: 0;
    top: 0;
    width: 24px;
}

    .user-pic.user-pic-md {
        background-size: 56px;
        height: 56px;
        width: 56px;
    }

    .user-pic:hover {
        opacity: 0.8;
    }

.user-pic-name {
    position: relative;
    top: 25%;
    font-weight: 600;
    font-size: 16px;
}

.btn.btn-link.btn-profile-pic {
    margin: 0 5px;
}

    .btn.btn-link.btn-profile-pic:hover {
        background-color: transparent !important;
        background-image: none;
    }

.label-tag {
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    background-color: #2196f3;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    color: white;
    font-size: 12px;
    overflow: hidden;
    padding: 5px;
}

.bounce-in {
    animation: bounce 0.3s;
    visibility: visible;
}

@keyframes bounce {
    0% {
        transform: scale(0.5, 0.5);
    }

    60% {
        transform: scale(1.08, 1.08);
    }

    100% {
        transform: scale(1, 1);
    }
}

* {
    font-family: 'Open Sans', sans-serif;
}

.options-menu:after {
    position: absolute;
    top: -6px;
    right: 18px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.modal-title {
    font-weight: bold;
}

.options-menu {
    list-style: none;
    opacity: 0;
    position: absolute;
    top: 45px;
    width: 15%;
    height: auto;
    right: 10px;
    background-color: white;
    z-index: 10000;
    padding: 6px;
    -webkit-box-shadow: 0 2px 10px #e2e2e2;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 8px #e2e2e2;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -webkit-transform-origin: 85% 0;
    -moz-transform-origin: 85% 0;
    -o-transform-origin: 85% 0;
    transform-origin: 85% 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform 200ms ease-in, opacity 250ms;
    -moz-transition: transform 200ms ease-in, opacity 250ms;
    -o-transition: transform 200ms ease-in, opacity 250ms;
    transition: transform 200ms ease-in, opacity 250ms;
}

@media only screen and (max-width: 1200px) {
    .options-menu {
        right: 1%;
        width: 40%
    }
}

@media only screen and (max-width: 992px) {
    .options-menu {
        right: 1%;
        width: 95%
    }
}

    .options-menu li {
        padding: 5px;
        padding-left: 12px;
        line-height: 2em;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
    }

        .options-menu li:hover {
            -webkit-transform: scale(1.03);
            -moz-transform: scale(1.03);
            -o-transform: scale(1.03);
            transform: scale(1.03);
        }

    .options-menu a {
        font-size: 1.1em;
        color: black;
        font-weight: normal;
    }

        .options-menu a:hover,
        .options-menu a:focus,
        .options-menu a:active {
            text-decoration: none;
        }

    .options-menu.open {
        opacity: 1;
        -webkit-animation: popup-open 200ms ease-out;
        -moz-animation: popup-open 200ms ease-out;
        -o-animation: popup-open 200ms ease-out;
        animation: popup-open 200ms ease-out;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

@media only screen and (max-width: 768px) {
    .navbar .options-menu {
        width: 100%;
    }

    .navbar .user-pic {
        margin-left: 20px;
    }

    .navbar .non-mobile {
        margin-top: 0;
    }
}

@keyframes popup-open {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
