.cd-timeline-block {
    -moz-box-shadow: 0 2px 2px #d8d8d8;
    -webkit-box-shadow: 0 2px 2px #d8d8d8;
    background-color: white;
    box-shadow: 0 2px 2px #d8d8d8;
    cursor: pointer;
    cursor: hand;
    display: inline-block;
    height: 220px;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 100%;
}

    .cd-timeline-block:hover {
        background-color: #fafafa;
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }

.cd-timeline-content {
    margin-left: 20px;
    padding-top: 25px;
}

.cd-timeline-empty {
    margin-top: 30px;
}

.cd-timeline-user {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -40px;
    margin-left: 1em;
    padding-top: 6px;
    z-index: 100;
}

.cd-timeline-username {
    color: black;
    float: left;
    margin-right: 10px;
}

.cd-timeline-institution {
    font-weight: normal;
}

.cd-timeline-date {
    font-size: 12px;
    font-weight: normal;
}

.cd-timeline-answers {
    font-weight: lighter;
}

.cd-timeline-small {
    color: #acacac;
    font-size: 14px;
}

.cd-timeline-username:hover,
.cd-timeline-username:active {
    color: #0c7cd5;
    text-decoration: none;
}

.cd-timeline-username:focus {
    color: black;
    text-decoration: none;
}

.cd-timeline-img {
    -moz-box-shadow: 0 1px 1px #000000;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 1px 1px #000000;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    background-repeat: no-repeat;
    background-size: 48px;
    border-radius: 50%;
    box-shadow: 0 1px 1px #000000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    float: left;
    height: 48px;
    left: 0;
    margin-left: 18px;
    margin-right: 20px;
    margin-top: 10px;
    overflow: hidden;
    right: 0;
    top: 0;
    width: 48px;
}

.cd-timeline-title {
    font-size: 20px;
    height: auto;
    max-height: 100px;
}

.cd-timeline-content p {
    line-height: 1.6;
}

.cssanimations .cd-timeline-block.is-hidden {
    visibility: hidden;
}

.cssanimations .cd-timeline-block.bounce-in {
    -webkit-animation: cd-bounce 0.6s;
    -moz-animation: cd-bounce 0.6s;
    -o-animation: cd-bounce 0.6s;
    animation: cd-bounce 0.6s;
    visibility: visible;
}

@keyframes cd-bounce {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 405px) {
    .cd-timeline-title {
        display: block;
        height: 30px;
        overflow: hidden;
        -moz-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 98%;
    }
}

.cd-timeline-tags {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}

.cd-timeline-footer {
    position: absolute;
    bottom: 5px;
}

/* Filter */

#filterForm {
    margin-right: 30px;
    width: 100%;
    margin-left: 0;
}

    #filterForm select {
        margin: 10px 0;
        max-width: 10%;
    }

#toggleFilterBoxBtn {
    margin-bottom: 10px;
    margin-top: -15px;
}

#filterModal .modal-dialog {
    margin-left: 30%;
    max-width: 40%;
}

.filter-btn-containter {
    margin-bottom: 10px;
}

.form-text {
    font-size: 18px;
}

.filter-selected {
    font-size: 11px;
    margin: 0 .1em;
    padding: .3em .4em .4em;
}

    .filter-selected a {
        color: #bbb;
        cursor: pointer;
    }

    .filter-selected .remove {
        top: 4px;
        vertical-align: top;
    }

    .filter-selected a {
        margin: 0 0 0 .3em;
    }

        .filter-selected a .glyphicon-white {
            color: #fff;
            margin-bottom: 2px;
        }

@media only screen and (max-width: 320px) {
    .container {
        padding: 0;
    }
}