.video-container.full video {
    -moz-min-width: 100%;
    -moz-transform: translateX(-50%) translateY(-50%) scale(.67);
    -ms-min-width: 100%;
    -ms-transform: translateX(-50%) translateY(-50%) scale(.67);
    -o-min-width: 100%;
    -o-transform: translateX(-50%) translateY(-50%) scale(.67);
    -webkit-min-width: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(.67);
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(.67);
    width: auto;
}

.video-container.mini video {
    -moz-min-width: 10%;
    -moz-transform: translateX(-50%) translateY(-50%) scale(.5);
    -ms-min-width: 10%;
    -ms-transform: translateX(-50%) translateY(-50%) scale(.5);
    -o-min-width: 10%;
    -o-transform: translateX(-50%) translateY(-50%) scale(.5);
    -webkit-min-width: 10%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(.4);
    height: auto;
    left: 87.5%;
    min-height: 10%;
    min-width: 10%;
    position: fixed;
    top: 80%;
    transform: translateX(-50%) translateY(-50%) scale(.5);
    width: auto;
}

video { display: none; }

.white-board {
    -ms-background-size: 73%;
    /*background-image: url("Images/white-board.svg");*/
    background-repeat: no-repeat;
    background-size: 73%;
    height: 80%;
    left: 5%;
    position: absolute;
    top: 15%;
    width: 80%;
}

canvas {
    background-color: #f8f8f8;
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    margin-left: auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.tool-bar {
    -moz-box-shadow: 0 1px 3px grey;
    -ms-box-shadow: 0 1px 3px grey;
    -webkit-box-shadow: 0 1px 3px grey;
    background-color: #2196f3;
    bottom: 10px;
    box-shadow: 0 1px 3px grey;
    height: 65px;
    padding-right: 10px;
    position: absolute;
    right: 5%;
    text-align: center;
    width: auto;
    z-index: 12;
}

.tool-bar-item {
    -webkit-text-stroke: 1px white;
    color: white;
    float: left;
    font-size: 30px;
    height: 100%;
    margin-left: 1px;
    margin-right: 1px;
    position: relative;
    text-align: center;
}

.btn.btn-link.tool-bar-item:hover { background-color: white; }

.tool-bar.color-picker {
    -ms-opacity: 0;
    background-color: white;
    bottom: 80px;
    opacity: 0;
    z-index: 13;
}

.color-item {
    -ms-border-radius: 50%;
    border-radius: 50%;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 7.5px;
    position: relative;
    text-align: center;
    width: 50px;
}

.color-item.blue { background-color: blue; }

.color-item.yellow { background-color: yellow; }

.color-item.red { background-color: red; }

.color-item.green { background-color: green; }

.color-item.black { background-color: black; }